body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/025/240/original/background-image1.jpg?1642700870");
  background-position: left;
  font-family: Poppins, sans-serif;
}

h1 {
  color: #eb5e0b;
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 15px;
  margin-top: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.weather-app {
  background-color: #fff;
  border: (1, solid, #fff);
  border-radius: 10px;
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
}

.city-search {
  display: inline;
}

.search-button {
  display: inline;
}

.button-col {
  padding-left: 0;
  padding-right: 0;
}

.current-button {
  background: #eb5e0b;
  color: #fff;
  display: inline;
}

.general-info {
  color: #0d6efd;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  max-width: 70%;
  opacity: 0.9;
  padding: 0 0 0 20px;
}

.current-weather {
  margin: 0;
  padding: 0;
  max-width: 100px;
  text-align: center;
}

.current-weather .main-icon {
  color: #c2daff;
  display: block;
  font-size: 80px;
}

.current-weather h2 {
  color: #eb5e0b;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  padding: 15px 0 0 0;
}

.current-weather .max-min {
  color: #eb5e0b;
  font-size: 14px;
  font-style: normal;
}

.forecast-row {
  margin: 20px auto;
  padding: 0;
}

.forecast {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.forecast-day {
  color: #0d6efd;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  opacity: 0.9;
}

.forecast-icon {
  color: #c2daff;
  display: block;
  font-size: 30px;
}

.forecast-temp {
  color: #0d6efd;
  font-size: 14px;
  font-style: normal;
  opacity: 0.9;
}

.forecast-temp-max {
  font-weight: 600;
}

.footer {
  color: #eb5e0b;
  font-family: monospace;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 5px 0 0 0;
  text-align: center;
}

#description:first-letter {
  text-transform: capitalize;
}
